p {
 color: purple;
 font-size: 20px;
}
table {
  table-layout: fixed;
  width: 60%;
  border-collapse: collapse;
  border: 4px solid purple;
  }

thead th:nth-child(1) {
  width: 14%;
  }

thead th:nth-child(2) {
  width: 23%;
  }

thead th:nth-child(3) {
  width: 23%;
  }

th {
  letter-spacing: 4px;
  padding: 10px;
  }

td {
  letter-spacing: 5px;
  padding: 10px;
  }

tbody td {
  text-align: center;
  }

tfoot th {
  text-align: right;
  }

thead,
tfoot {
  background: url(beton.jpeg);
  color: white;
  text-shadow: 2px 3px 1px black;
}

thead th,
tfoot th,
tfoot td {
  background: linear-gradient(to bottom, rgb(0 0 0 / 10%), rgb(0 0 0 / 50%));
  border: 3px solid purple;
}
